.btn-space {
  margin-right: 10px;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  color: white;
  background: #000;
  font-size: 10px;
  padding-top: 7px;
  cursor: pointer;
}

.home-color {
  color: #0f8fb6;
  font-style: "semi-bold"
}

.btn-purple {
  color: #000;
  background-color: rgb(187, 164, 251, 0.25);
  border: 1px solid #BBA4FB;
}

.btn-purple:hover, .btn-purple:active {
  background-color: #BBA4FB !important;
}

.btn-blue {
  color: #000;
  background-color: rgb(100,192,243, 0.25);
  border: 1px solid #0D7AB5;
}

.btn-blue:hover, .btn-blue:active {
  background-color: #0D7AB5 !important;
}

.btn-gray {
  color: #000;
  border: 1px solid #6F6F6F;
}

.btn-gray:hover, .btn-gray:active {
  background-color: #6F6F6F !important;
}

.btn-signout {
  color: #ffffff !important;
  background-color: #0f91d6;
}

.btn-signout:hover, .btn-signout:active {
  background-color: #0771ab !important;
}

.profile{
  position: absolute;
  right: 20px !important;
  z-index: 2;
}

